.footer {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem 0;

    img {
        margin: 0 auto;
        width: 80%;

        @media (min-width: 40rem) {
            img {
                width: 50%;
            }
        }
    }

    p{
        color: $white;       
        margin-top: 2rem; 
        text-align:  center;
    }

    .footer__arrow-up {
        position: fixed;
        bottom: 8rem;
        right: -2rem;
        width: 6rem;
        height: 6rem;
        z-index: -1;
    }
    .footer__arrow-up--button {
        width: 0rem;
        height: 0rem;
        background-color: $purple;
        border-radius: 50%;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    
    .footer__arrow-up--button i {
        position: absolute;
        font-size: 3rem;
        top: 3%;
        left: 34%;
        color: $white;
        transition: .2s;
    }
    
    .show {
        z-index: 10;
    }
    
    .show .footer__arrow-up--button {
        animation: popup .3s ease-in-out;
        width: 4.5rem;
        height: 4.5rem;
        z-index: 11;
    }
    
    .show i {
        transform: translate(-50% -50%) scale(1);
    }
    
    @keyframes popup {
        0% {
            width: 0rem;
            height: 0rem;
        }
    
        50% {
            width: 6rem;
            height: 6rem;
        }
    
        100% {
            width: 4rem;
            height: 4rem;
        }
    }
    

    @media (min-width: 60rem) {
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem 0;

        p {
            text-align: left;
            margin-top: 6rem;
            margin-left: 5%;
        }

        img {
            width: 30%;
        }
        .footer__arrow-up {
            bottom: 1rem;
            right: 1rem;
        } 

        .show .footer__arrow-up--button {
            width: 6rem;
            height: 6rem;
        }

        .go-top-button i {
            top: 15%;
            left: 38%;
        }    
    }

}