.sidebar {
    position: fixed;
    width: 315px;
    height: 100%;
    right: -315px;
    background-color: rgba(36, 32, 32, 0.90);
    transition: all 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
    top: 0;
    z-index: 99;
    button{
        position: absolute;
        left: -70px;
        top: 10px;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        border: none;
    }
  }

  .sidebar.active {
    right: 0px;
    top: 0px;
    button{
        position: absolute;
        top: 10px;
        left: 240px;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        border: none;
    }
  }

  .sidebar__links {
      margin: 60px  0px 10px  20px;
      a{
        display: flex;
        padding: 20px;
        text-decoration: none;
        list-style: none;
        color: white;
        font-size: 28px;
        font-weight:500;
      }
}