.about-me{
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10%;
    @media (min-width: 60rem){
        flex-direction: row;
        margin-bottom: 10%;
        width: 70%;
    }
}
.about-me__image{
    position: relative;
    img{
        position: absolute;
        right: -1rem;
        top: 2rem;
        width: 90%;
    }

    @media (min-width: 60rem){
        width: 80%;
    }
}
.about-me__paragraph{
    padding-top: 6rem;
    text-align: justify;

}


