.contact-me {
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;

    h1 {
        margin-top: 7.5rem;
    }

    p {
        margin-bottom: 4rem;
        margin-top: 3rem;
    }
}

.contact-me__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.contact__info {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 70%;

    img {
        width: 80%;
        padding-top: 2rem;
    }

    h2 {
        padding-bottom: 4rem;
    }

    @media (min-width: 40rem) {
        width: 40%;
    }

    @media (min-width: 60rem) {
        width: 20%;
    }
}

.contact-me__section--purple {
    background-color: $purple;

    h2, p, a {
        color: $white;
    }
    
}

.contact-me__section--pink3 {
    background-color: $pink3;

    h2, p, a {
        color: $white;
    }
    
}

.contact-me__section--lightpurple {
    background-color: $dark-purple;

    h2, p, a {
        color: $white;
    }
    
}

