.text-section {  
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 10rem;
    width: 23rem;
    background: $black;
    @media (min-width: 60rem){
        .animation{
            padding-top: 10rem;
        }
        
    }
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: $title-bold;
    font-size: $font-xl;
    color: $white;
    margin: 0 auto;
    
}

.animation {
    position: relative;
    width: 100%;
    
    div {
        overflow: hidden;
        width: 100%;
        height: 100%;
        transform: skewX(-20deg);
            
        &::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 0.4rem;
        background: #fff;
        }
    }
    
    span {
        padding: 0 1rem;
    }
}
.animation-left {
    
    &::before {
        left: 0;
        animation: widthLineLeft 1.2s 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.10) forwards;
    }

    span {
        display: block;
        animation: slideLeft 1.2s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.10) forwards;
        transform: translateX(200px) skewX(20deg);
    }
}

.animation-right {
    position: absolute;
    right: 0;
    top: 0;
    
    &:before {
        bottom: 0;
        right: 0;
        animation: widthLineRight 1.2s 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.10) forwards;
    }

    span {
        position: absolute;
        width: 100%;
        left: -100%;
        transform: translateX(-200px) skewX(20deg);
        animation: slideRight 1.2s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.10) forwards;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(200px) skewX(20deg);
    } 
    to {
        transform: translateX(0%) skewX(20deg);
    }
}
@keyframes slideRight {
    from {
        transform: translateX(-200px) skewX(20deg);
    } 
    to {
        transform: translateX(0%) skewX(20deg);
    }
}
@keyframes widthLineLeft {
    0% {
        width: 0%;
        left: 0%;
    }
    50% {
        width: 100%;
        left: 0%;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}
@keyframes widthLineRight {
    0% {
        width: 0%;
        right: 0%;
    }
    50% {
        width: 100%;
        right: 0%;
    }
    100% {
        width: 0%;
        right: 100%;
    }
}